*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin:20px;
}
.stacky h1 {
    text-align:center;
}

.arrowDiv{
	position: absolute;
	right: 33px;
	top: 65px;
}
 #curvedarrow { 
  position: relative; 
  width: 0; 
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #000; 
  -webkit-transform: rotate(10deg); 
  -moz-transform: rotate(10deg); 
  -ms-transform: rotate(10deg); 
  -o-transform: rotate(10deg); 
  left: 136px;
  top: -6px;
} 
#curvedarrow:after { 
  content: ""; 
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #000;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg); 
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); 
}